.note {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    flex: none;
    width: calc((100% - 50px) / 6);

}

.note img {
    max-width: 100%;
    height: auto;
}

.note-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 600;
    margin: auto;
    width: 75%;
    height: 90%;
    overflow: auto;
    scrollbar-width: none;

}

.note-content::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    .note {
        width: calc((100% - 10px) / 1);

    }

    .note img {
        max-width: 90%;
    }

    .note-content {
        width: 70%;
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .note {
        width: calc((100% - 40px) / 3);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .note {
        width: calc((100% - 50px) / 4);
    }
}