.cursor-pointer {
  cursor: pointer;
}

.note {
  width: calc((100%) / 5);
}

.note-content {
  margin: auto;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.note-content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .note {
    width: calc((100%) / 1);
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .note {
    width: calc((100%) / 3);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .note {
    width: calc((100%) / 4);
  }
}
