@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  background-image: url('/pizzarra.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  background-size: cover;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
}

.cursiveFont {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .notasContainer {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1200px) {
}
