html,
body {
    margin: 0;
    padding: 0;
    background-image: url('./img/pizzarra/pizzarra.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.notasContainer {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

@media only screen and (max-width: 600px) {
    .App {
        background-size: cover;
        width: 100vw;
    }


}

@media only screen and (max-width: 1200px) {}